---
---

// COLORS
$background-color: #7a3470;
$secondary-color: #8e95a7;
$tertiary-color: rgb(183, 27, 84); // default materialize color for buttons
$fourth-color: #03A9F4;

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  color: white;
}

div#root {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

body {
  display: flex;
  flex-grow: 1;
  margin: 0;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.btn, .btn-large, .btn-small {
  background-color: $tertiary-color;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: lighten($tertiary-color, 10%);
}

/**
 * Header
 */

.Header-header {
  height: 150px;
}

.Header-title {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0;
  letter-spacing: -2px;
}

.Header-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.Header-sub {
  text-transform: uppercase;
  margin-top: 0;
}

@media (max-width: 400px) {
  .Header-title {
    font-size: 2em;
  }
}

/**
/* Menu
 */

.Menu {
  display: flex;
  margin: 10px 0 10px 0;

  @media(orientation: portrait) {
    flex-direction: column;
    align-items: center;

    &__link {
      width: 80%;
      &:not(:nth-child(1)) {
        margin-top: 10px;
      }
    }
  }

  @media(orientation: landscape) {
    flex-direction: row;
    justify-content: center;

    &__link {
      &:not(:nth-child(1)) {
        margin-left: 5px;
      }
    }
  }
}

/**
 * Intro
 */

.Intro {
  max-width: 1200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.intro-col {
  width: 400px;
  margin: 0 5px;
}

.Article {
  width: 400px;
  background-color: #fff;
  color: #000;
}

.Article__content, .Article__title {
  padding: 5px;
}

.Article__title {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  letter-spacing: -1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: $secondary-color;
  color: #fff;
  padding-left: 10px;
  font-size: 1.8em;
}

.Article__content {
  text-align: justify;
  text-justify: inter-word;
  margin: 10px;
}

.Article__content--signataires {
  text-justify: none;
}

.Signataires {
  display: flex;
  flex-wrap: wrap;
}

.Signataires li {
  color: white;
  display: inline-block;
  margin: 5px;
  padding: 5px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #999;
}


.Article__action {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.Article__action + .Article__action {
  border-top: 1px solid #CCC;
}

.Article__action--link {
  display: block;
  width: 100%;
  padding: 15px;
  color: $tertiary-color;
}

.Article__action--link:hover {
  background-color: #EEE;
}

.Article__action--link svg {
  display: inline;
  margin-right: 0.5em;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .19);
  border-radius: 2px;
}
