@import '../../Style/palette';

.ComitesToolbox {

  &__title {
    & > h1 {
      font-size: 2rem;
      margin: 0;
    }
  }

  &__tools {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    .links {
      magin-top: 1rem;

      .link {
        font-size: 1rem;
        color: $secondary-color;
        text-transform: uppercase;

        &:hover {
          color: white;
        }
      }
    }

    .docs {
      margin-top: 1rem;
    }

    @media (orientation: landscape) {
      .docs {
        display: flex;
        flex-direction: column;
        &__red,
        &__violet {
          display: flex;
          flex-direction: row;
        }
      }
    }

    @media (orientation: portrait) {
      .docs {
        display: flex;
        flex-direction: column;
        &__red,
        &__violet {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .doc {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      & > img {
        width: 50%;
        max-width: 50%;
        margin: auto;
      }

      .md-btn {
        margin: auto;
        width: 50%;
        font-size: 14px;
        display: inline-block;
        height: 36px;
        padding: 6px 16px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 0;
        border-radius: 2px;
        background: $secondary-color;
        color: #fff;
        outline: 0;
        text-transform: uppercase;
        &:focus {
          background: darken($secondary-color, 12%)
        }
      }

      .md-btn-raised {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

        &:active {
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12),
          0 5px 5px -3px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

}