@import '../../Style/palette.scss';

.col-one {
  flex-grow: 1;
}

.image-title {
  position: relative;
  width: 390px;
  height: 585px;
}

.image-title img {
  width: 100%;
  vertical-align: top;
}

.image-title:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.Intro {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.card-title {
  font-size: 22px !important;
}

.card-title.programmation {
  color: $tertiary-color !important;
}

.Intro-video {
  margin-top: 0;
  margin-bottom: 0;
}

.Intro-networks,
.Intro-resources,
.Intro-comites {
  flex-grow: 1;
  color: $secondary-color;
  flex-wrap: wrap;
  max-width: 390px;
}

.Intro-networks {
  margin-top: 0;
}

.logos {
  display: flex;
  flex-direction: column;
}

.resources.card-action {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: $background-color;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    color: white !important;
  }

  & > svg,
  & > .material-icons {
    font-size: 1.5rem;
    margin-right: 10px;
  }
}

.social-networks.card-action {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #2196F3;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #2196F3;
    color: white !important;
  }

  & > svg,
  & > .material-icons {
    font-size: 1.5rem;
    margin-right: 10px;
  }
}

.sign__button {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: flex-start;
  text-transform: uppercase;
  background-color: $secondary-color !important;
  color: white;

  &:hover {
    background-color: $background-color !important;
    color: white;
  }

  & > i {
    margin-right: 20px;
  }
}

.Intro-manifeste {
  flex-grow: 1;
  height: auto;
  margin-top: 0;
  text-align: justify;

  &__texte {
    color: black;
  }

  &__image {
    height: 144px;
    overflow: hidden;
    position: relative;

    > img {
      top: -120px !important;
    }
  }
}

.Manifeste > p {
  margin-bottom: 7px !important;
}

.col-three {
  margin: 0 0 0 5px;
}

.timeline-Widget.timeline-Widget--edge {
  border-radius: 2px !important;
}

.Subscribe-newsletter {
  color: $secondary-color;
}