<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92347199-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-92347199-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Amatic+SC"
          rel="stylesheet">

    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->

    {% capture absolute_prefix %}{{ site.url | replace: 'http://', 'https://' }}{{ site.baseurl }}{% endcapture %}

    <meta property="og:url" content="{{ absolute_prefix }}{{ page.url }}"/>
    {% if page.social_type %}
    <meta property="og:type" content="{{ page.social_type }}"/>
    {% else %}
    <meta property="og:type" content="article" />
    {% endif %}
    {% if page.social_title %}
    <meta property="og:title" content="{{ page.social_title }}"/>
    {% else %}
    <meta property="og:title" content="{{ page.title }}"/>
    {% endif %}
    {% if page.social_description %}
    <meta property="og:description" content="{{ page.social_description }}"/>
    {% endif %}

    <meta property="og:image" content="{{ absolute_prefix }}/public/img/partage-fb-2.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    {% if page.social_twitter_card %}
    <meta property="twitter:card" content="{{ page.social_twitter_card }}"/>
    {% else %}
    <meta property="twitter:card" content="summary"/>
    {% endif %}
    <meta property="twitter:image" content="{{ absolute_prefix }}/public/img/partage-twitter.png"/>
    <meta property="twitter:site" content="{{ site.twitter_username }}"/>

    <title>La Marée populaire</title>
</head>
<body>

<div id="root">
  <div class="maree">
    <header class="Header-header">
      <h1 class="Header-title">La Marée Populaire</h1>
      <p class="Header-sub">Rendez-vous le<span class="Header-sub__hour"> 26 Mai !</span></p>
    </header>

    <div class="Menu">
      <a class="Menu__link waves-effect waves-light btn" href="{{ site.baseurl }}/">Infos</a>
      <a class="Menu__link waves-effect waves-light btn" href="{{ site.baseurl }}/public/files/affiche.pdf">Télécharger l'affiche unitaire</a>
      <a class="Menu__link waves-effect waves-light btn" href="{{ site.baseurl }}/resources.html">Autres ressources</a>
    </div>
      {{ content }}
  </div>
</div>

</body>
</html>
